---
BasedOnStyle: Mozilla
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
NamespaceIndentation: None
SpacesInSquareBrackets: 'false'
Standard: Auto
FixNamespaceComments: 'true'
BreakBeforeBraces: Allman
SortIncludes: 'true'
SpaceBeforeParens: Never
AllowShortFunctionsOnASingleLine: Inline
BreakConstructorInitializers: BeforeColon
IndentWidth: 2
NamespaceIndentation: None
PointerAlignment: Left
SpaceInEmptyParentheses: 'false'
SpacesBeforeTrailingComments: 1
SpacesInAngles: 'false'
SpacesInParentheses: 'false'
AlwaysBreakTemplateDeclarations: 'true'
BreakBeforeInheritanceComma: 'false'
...
